body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sl-slide-heigth{
  height: 75vh;
}

.sl-shadow{
  box-shadow: 0.2rem .25rem .2rem rgba(0,0,0,.5) !important;
}

.sl-bg-info{
  background-color: rgb(150, 255, 255);;
}

.sl-w-75{
  width: 75% !important;
}
.sl-w-50 {
  width: 50% !important;
}
.sl-stretch-heigth{
  min-height: 75vh;
}
.sl-nav-pill{
  border-radius: 10rem;
}
.sl-border-left {
  border-left: 1px solid #dee2e6;
}
.sl-border-right {
  border-right: 1px solid #dee2e6;
}
td{
  vertical-align: middle;
}


/* .sl-mob-center{
  text-align: left;
} */

@media (max-width: 991px){
  .sl-w-75{
    width: 100% !important;
  }
  .sl-w-50 {
    width: 100% !important;
  }
  .sl-mob-center{
    text-align: center !important;
  }
  .sl-nav-pill{
    border-radius: .25rem !important;
  }
  .sl-border-left {
    border-top: 1px solid #dee2e6;
    border-left: none;
  }
  .sl-border-right {
    border-bottom: 1px solid #dee2e6;
    border-right: none;
  }
}